/* Header Section
********************************************************************* */

header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #1d5135, #006a66, #84d0d7);
    background-size: 5000% 5000%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d5135', endColorstr='#84d0d7', GradientType=1);
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.title {
    align-self: center;
    padding: 2rem;
    max-width: 100%;
    text-align: center;
}

.title .smallsep {
    background: #fff;
    height: 2px;
    width: 70px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title h1 {
    font-size: 80px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 0.85;
    margin-bottom: 28px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.title h2 {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 50px;
}

@media only screen and (max-height: 700px) {
    .title h1 {
        font-size: 80px;
    }
}

.title p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 150%;
}

@media only screen and (max-width: 500px) {
    .title h1 {
        font-size: 65px;
    }
}

.title .icon {
    color: #FFFFFF;
    font-size: 50px;
}

.main_nav {
    position: fixed;
    top: 0;
    max-height: 75px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}

@media only screen and (max-width: 766px) {
    .main_nav {
        padding-top: 25px;
    }
}

.open-nav {
    max-height: 400px !important;
}

.sticky {
    background-color: #ffffff;
    opacity: 1;
    top: 0;
}

nav {
    width: 100%;
    margin-top: 5px;
}

@media only screen and (max-width: 766px) {
    nav {
        width: 100%;
    }
}

nav ul {
    list-style: none;
    overflow: hidden;
    text-align: center;
}

@media only screen and (max-width: 766px) {
    nav ul {
        padding-top: 0px;
        margin-bottom: 22px;
        text-align: center;
        width: 100%;
    }
}

nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
    letter-spacing: 1px;
}

@media only screen and (max-width: 766px) {
    nav ul li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
    }

    nav ul li:first-child {
        margin-top: 70px;
    }
}

nav ul a {
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
}

nav ul a:hover {
    color: deeppink;
    text-decoration: none;
}

.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
}

@media only screen and (max-width: 766px) {
    .mobile-toggle {
        display: block;
    }
}

.mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    background: #000000;
    display: block;
}

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 5vh;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: translate(-50%, 0%) rotate(45deg);
    animation: fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}
