<div class="demi-content about-left"><h1>A PROPOS</h1></div>
<div class="demi-content about-right">
    <div class="about-right-txt">
        <p><span>Bonjour,</span></p>
        <p>Vous trouverez ici quelques unes de mes réalisations en tant que graphiste et (ou) développeuse web.</p>
        <p>Concernant mon parcours, j’ai effectué un BTS en communication et une licence dans le domaine des arts appliqués. Durant ces années j'ai eu l'opportunité d'étudier la communication interne et externe des entreprises, l'histoire de l'art et d'approfondir mes connaissances en infographie (Photoshop, Illustrator, Indesign), et plus particulièrement en communication visuelle (logotype, charte graphique, design et packaging produit, publicité, etc.).</p>
        <p> Je poursuit actuellement avec une formation en développement web, qui me permet de solidifier mes connaissances en HTML5/CSS3(SCSS) et Bootstrap. J'utilise également PHP5 avec Symfony3, JavaScript à travers la librairie Jquery, la gestion des systèmes de base de données (MySQL), le travail en méthode agile avec SCRUM ainsi que l'utilisation de Git et GitHub lors de projet en groupe.</p>

        <menu>
            <a href="/assets/images/cv.pdf" target="_blank">
                <button>
                    <span style="padding-top:7px;"><i class="icon-paperclip"></i></span>
                    <span> CV </span>
                </button>
            </a>
        </menu>
    </div>
</div>