<!DOCTYPE html>
<html lang="fr">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121044297-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-121044297-1');
    </script>

    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tiffany MAURATH</title>
    <meta name="description" content="Bienvenue sur mon portfolio !">
    <meta name="keywords" content="infographiste, graphiste, développeur web">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Armata|Open+Sans" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>


<body>

<header id="header">
    <div class="main_nav">
        <div class="container">
            <div class="mobile-toggle"><span></span> <span></span> <span></span></div>
            <nav>
                <ul>
                    <li><a class="smoothscroll" href="#header">Accueil</a></li>
                    <li><a class="smoothscroll" href="#about">A propos</a></li>
                    <li><a class="smoothscroll" href="#skills">Compétences</a></li>
                    <li><a class="smoothscroll" href="#portfolio">Portfolio</a></li>
                    <li><a class="smoothscroll" href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>

<!-- V1
    <div class="title">
        <div><img class="logo" src="http://res.cloudinary.com/tiffanym/image/upload/q_100/v1525284540/tm_umvftt.png">
        </div>
        <div class="smallsep heading"></div>
        <h1 class="heading">TIFFANY MAURATH</h1>
        <h2 class="heading"><span id="holder"></span><span>|</span></h2>
        <a class="smoothscroll" href="#about">
            <div class="mouse">
                <div class="wheel"></div>
            </div>
        </a>
    </div>
-->

    <div class="title">
        <div class="heading">
            <svg id="tiffanymarie" data-name="tiffanymarie" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 804.4 208.1">
                <defs>
                    <clipPath id="clip-path" transform="translate(1.2 -297.4)">
                        <path id="point2" d="M709.8,364.3a3.9,3.9,0,0,0,3.3-1.6,5.9,5.9,0,0,0,1.2-3.6,5.7,5.7,0,0,0-1.2-3.5,3.9,3.9,0,0,0-3.3-1.6,3.9,3.9,0,0,0-3.3,1.6,5.9,5.9,0,0,0-1.2,3.5,6.1,6.1,0,0,0,1.2,3.6A3.9,3.9,0,0,0,709.8,364.3Z" fill="none"/>
                    </clipPath>
                    <clipPath id="clip-path-2" transform="translate(1.2 -297.4)">
                        <path id="point1" d="M147.2,364.3a3.9,3.9,0,0,0,3.3-1.6,5.9,5.9,0,0,0,1.2-3.6,5.7,5.7,0,0,0-1.2-3.5,3.9,3.9,0,0,0-3.3-1.6,3.9,3.9,0,0,0-3.3,1.6,5.9,5.9,0,0,0-1.2,3.5,6.1,6.1,0,0,0,1.2,3.6A3.9,3.9,0,0,0,147.2,364.3Z" fill="none"/>
                    </clipPath>
                    <clipPath id="clip-path-3" transform="translate(1.2 -297.4)">
                        <path id="t" d="M177.8,307.5c-.4.7-.7,1.5-1.2,2.1a68.2,68.2,0,0,1-19.9,20.3c-11.3,7.6-23.8,13-36.6,17.3a245.2,245.2,0,0,1-34.8,8.6c-11.6,2.1-23.2,4.1-34.4,8a83.3,83.3,0,0,0-19.5,9.6c-6.5,4.4-12.1,9.8-16,16.7a3.5,3.5,0,0,1-3.8,1.8c-1.4-.1-2.3-1.2-2.8-2.8s.2-1.9.7-2.8a56,56,0,0,1,15.9-17.2,88.3,88.3,0,0,1,31.1-14.2c9.4-2.3,18.9-4.3,28.5-6a220.6,220.6,0,0,0,46.9-13.5c14.2-6,26.8-14.6,38.9-24.1,1.3-1,2.6-2.2,3.9-3.1a16.4,16.4,0,0,1,2.6-1.2Z" fill="none"/>
                    </clipPath>
                    <clipPath id="clip-path-4" transform="translate(1.2 -297.4)">
                        <path id="iffanymarie" d="M791.1,384.4a1.4,1.4,0,0,0-.8-.9,2.3,2.3,0,0,0-1.3-.2,1.6,1.6,0,0,0-1.2.9q-3.1,4.8-7.4,10.9a116.6,116.6,0,0,1-9.2,11.5,67.2,67.2,0,0,1-10.2,9.2,20,20,0,0,1-10.4,4.1q-5.4.3-7.9-2.1a10.4,10.4,0,0,1-3-6.2,25.5,25.5,0,0,1,.2-8.2,42,42,0,0,1,2.2-7.9q9.6-.9,15.2-4.8a26,26,0,0,0,8.2-8.7,24.4,24.4,0,0,0,1.8-5,15.4,15.4,0,0,0,.4-5.5,10.3,10.3,0,0,0-1.8-4.8,7.5,7.5,0,0,0-4.4-2.9,11.5,11.5,0,0,0-8.3,1,25.7,25.7,0,0,0-7.7,6.2,46.3,46.3,0,0,0-6.4,9.7c-.8,1.6-1.5,3.3-2.2,5l-1.8,3.4q-1.9,3.7-4.7,8.7t-6.1,10.2q-3.3,5.3-6.5,9.6a47.5,47.5,0,0,1-6,6.9q-2.8,2.6-4.7,1.9t-2.4-4.3a44.9,44.9,0,0,1-.2-9q.3-5.3,1.2-11.3t1.9-11.5l1.9-9.6q.9-4.1,1.2-5.4a4.1,4.1,0,0,0-.7-3.1,7.7,7.7,0,0,0-2.4-2.4,4.7,4.7,0,0,0-2.7-.8,2,2,0,0,0-1.8,1.6q-.6,2.5-1.6,7.5c-.4,2-.8,4.1-1.2,6.4s-2.9,4.6-5,8l-7.3,12.1-8.4,13.5q-4.3,6.9-8.5,12.5a114.6,114.6,0,0,1-7.5,9.2q-3.3,3.6-5.4,3.6t-2.2-4.2a51.3,51.3,0,0,1,1-10.6q1.2-6.4,3-14.3t3.9-15.1q2-7.2,3.6-12.7t2.3-7.4q.8-2.5-.6-2.6a8.4,8.4,0,0,0-3.5.8,27.2,27.2,0,0,0-4.2,2.2l-2.7,1.6q2.3-4.2,2-7.2t-2.2-4q-1.9-1-4.7.2t-5.7,5.6a28.3,28.3,0,0,0-1.9,3.4,12.4,12.4,0,0,0-1,3.3,5.5,5.5,0,0,0,.2,2.8,3.3,3.3,0,0,0,1.7,1.9,7.6,7.6,0,0,0,3.8.5q-4.1,7.4-8.6,14.7-5.6,9.1-12,17.5l-1.6,1.9a26.8,26.8,0,0,1-2.3,2.5,14.7,14.7,0,0,1-2.6,1.9,2.6,2.6,0,0,1-2.4.3q-1.9-.8-2.3-4.6a42.5,42.5,0,0,1,.1-9.2q.5-5.4,1.7-11.6t2.5-11.9q1.3-5.7,2.5-10.1l1.6-6.1a5,5,0,0,0-.3-3.4,8.2,8.2,0,0,0-2.1-3,4.6,4.6,0,0,0-2.8-1.2q-1.5-.1-2.6,1.8l-1.2,2.2a21.1,21.1,0,0,0-8.7-3.1,14.3,14.3,0,0,0-8.9,2.2,21,21,0,0,0-7.2,7.6,57.7,57.7,0,0,0-4.6,9.5c-1.1,1.9-2.6,4.6-4.3,8l-7.3,14.3q-4.1,7.9-8.7,16.4t-8.9,15.4a85.3,85.3,0,0,1-8.3,11.3q-4,4.4-6.8,4.4t-1.9-4.5a71.2,71.2,0,0,1,.9-11.3q1-6.8,2.7-15.1l3.3-15.8,3-13.6a67.1,67.1,0,0,0,1.5-8.3q.5-5.7-1.6-9a6.9,6.9,0,0,0-5.3-3.6q-3.3-.3-7.2,2.5a26.6,26.6,0,0,0-7.4,8.9q-3.6,6.7-7.7,14.8l-7.8,15.6-2.1,4.3-1.8,3.8q1.2-8.9,1.8-15.9a88.7,88.7,0,0,0,.2-12,23.8,23.8,0,0,0-1.2-7.3,7,7,0,0,0-3-4,4.7,4.7,0,0,0-4.4.2,16.9,16.9,0,0,0-5.5,5.1,114.5,114.5,0,0,0-6.3,10q-3.5,6.1-7.7,15,3.7-18.8,7.9-37.7a5.8,5.8,0,0,0-.5-3.4,13.8,13.8,0,0,0-2.1-3.5,5.6,5.6,0,0,0-2.5-1.9q-1.2-.4-1.7,1.6l-3.2,14.4a111.9,111.9,0,0,1-18,16.5q-9.8,7.1-20.2,13.7,1.7-8.7,3.2-17.2l3-17.4a6.4,6.4,0,0,0-.7-3.2,14.1,14.1,0,0,0-2.1-3.4,5.6,5.6,0,0,0-2.5-1.9q-1.2-.4-1.7,1.5a334.8,334.8,0,0,1-18.3,32.2q-7.9,11.9-13.4,16.2a10,10,0,0,1-4.3,2.3q-2.6.2-3.3-3.1a28.3,28.3,0,0,1-.2-8.3,99.2,99.2,0,0,1,1.7-11q1.2-6,2.7-11.3t2.6-9.2l1.5-4.8a5.2,5.2,0,0,0-.2-3.7,10.4,10.4,0,0,0-2.1-3.4,6.2,6.2,0,0,0-2.6-1.8q-1.3-.4-1.8,1.3l-2.6,8.5c-.8,2.5-1.5,5.2-2.2,8l-2.9,5.2-5.1,9.9-6.4,12.3-7.1,13.1q-3.6,6.5-7.2,12.5t-6.8,10.4a42,42,0,0,1-5.9,6.8q-2.7,2.4-4.4,1.8t-1.3-5.2a79.8,79.8,0,0,1,1.2-11.6q1.2-6.9,2.9-15.1l3.3-15.8,3-13.7a65.2,65.2,0,0,0,1.5-8.7q.5-6.4-.9-9.8t-4-4.1q-2.6-.7-6.4,1.5a29,29,0,0,0-7.6,7,70.3,70.3,0,0,0-5.7,8.2q-2.8,4.6-5.4,9.6t-5.1,10.2q-2.5,5.1-4.5,9.8l-1.2,2.5-1.2,2.5q2.2-11.5,4.5-22.8t4.8-22.4a5.3,5.3,0,0,0-.8-2.5,30,30,0,0,0-2.1-3.8,6.9,6.9,0,0,0-2.3-2.4q-1.2-.6-1.6,1.6-1.2,5.6-3,13v.3q-4.8,8.7-10.1,17.4t-12,17.5l-1.6,1.9a26.9,26.9,0,0,1-2.3,2.5,14.7,14.7,0,0,1-2.6,1.9,2.6,2.6,0,0,1-2.4.3q-1.9-.8-2.3-4.6a42.6,42.6,0,0,1,.1-9.2q.5-5.4,1.7-11.6t2.5-11.9q1.3-5.7,2.5-10.1l1.6-6.1a5,5,0,0,0-.3-3.4,8.2,8.2,0,0,0-2.1-3,4.6,4.6,0,0,0-2.8-1.2q-1.5-.1-2.6,1.8l-1.2,2.2a21.1,21.1,0,0,0-8.7-3.1,14.3,14.3,0,0,0-8.9,2.2,21,21,0,0,0-7.2,7.6,57.9,57.9,0,0,0-5.2,11.2l-.7,2.1a9.3,9.3,0,0,0-1.5,2.4,41.5,41.5,0,0,1-23.5,20.1,52.2,52.2,0,0,0-4.6-11.9,19,19,0,0,0-9.3-8.4c1.4-3.8,5.2-6,8.6-8.2,16-10.5,26.2-27.7,33.7-44.9,1.9-4.3,2.3-10.8-4.1-10.7-2.8,0-5.3,1.6-7.5,3.3A66.6,66.6,0,0,0,243,341.7a172.9,172.9,0,0,0-25.6,43.5,49.7,49.7,0,0,1-7.8,9.5,37.2,37.2,0,0,1-14.8,8.8,44.9,44.9,0,0,0-4.8-12.4,18,18,0,0,0-8.9-7.9l.4-1,.4-1,.6-1.7c15.2-8.3,26.6-21.6,34.8-36.6,2.4-4.3,10.5-16.7,6.9-21.4-1.7-2.2-5.1-2.7-7.6-1.8a16.4,16.4,0,0,0-4.2,2.2,36.3,36.3,0,0,0-3.4,2.7q-3.9,4.2-7.5,8.7t-7,9.1a164.2,164.2,0,0,0-21.6,41.8c-1.1,3.2-2.1,6.4-3,9.6l-2.2,4q-2.8,5-6.1,10.2t-6.5,9.6a47.6,47.6,0,0,1-6,6.9q-2.8,2.6-4.7,1.9t-2.4-4.3a44.9,44.9,0,0,1-.2-9q.3-5.3,1.2-11.3t1.9-11.5l1.9-9.6q.9-4.1,1.2-5.4a4.1,4.1,0,0,0-.7-3.1,7.7,7.7,0,0,0-2.4-2.4,4.7,4.7,0,0,0-2.7-.8,2,2,0,0,0-1.8,1.6q-.6,2.5-1.6,7.5c-.4,2-.8,4.2-1.2,6.5l-4.9,7.9q-3.8,6.1-8.9,13.9T113,422.6q-5.7,8.4-11.2,15.4a110.6,110.6,0,0,1-10.1,11.5q-4.7,4.5-7.5,4.5t-2.6-3.8a40.7,40.7,0,0,1,.6-10.1q1-6.3,3.1-14.5t4.7-17.1q2.6-8.9,5.4-17.6t5.4-16.3c3.1-9.1,6.4-18.2,9.5-27.3a5.5,5.5,0,0,0-.6-2.3,27.2,27.2,0,0,0-1.9-3.9,8.9,8.9,0,0,0-2.3-2.7q-1.2-.9-1.9,1.3l-1.8,4.7c-2,5.7-4.3,11.7-6.4,17.5q-2.3,6.2-4.9,14.3t-5.4,17.2q-2.8,9.2-5,18.3t-3.6,17.5A79,79,0,0,0,75.5,444a22.3,22.3,0,0,0,2.2,10,6.6,6.6,0,0,0,6.5,3.6q3.6-.2,8.6-4.7a101.2,101.2,0,0,0,10.8-11.6q5.7-7.1,11.6-15.5t11-16.4q5.1-7.9,9-14.4l1-1.6q-.5,4.2-.9,8.6a76,76,0,0,0-.1,12.3,33.6,33.6,0,0,0,2.2,9.9,8.8,8.8,0,0,0,5.4,5.4q2.8,1.1,6.3-1.4a39.5,39.5,0,0,0,7.1-6.8,92.1,92.1,0,0,0,7.1-9.9l3.5-5.6a177.8,177.8,0,0,0-3.3,24,78.3,78.3,0,0,0,.2,12.4,33,33,0,0,0,3.3,11.7,18.3,18.3,0,0,0,6.3,7,8.6,8.6,0,0,0,8.6.8,11.6,11.6,0,0,0,4-3,20.4,20.4,0,0,0,2.8-4.2,29.9,29.9,0,0,0,2-5q.8-2.6,1.4-5.2,1.6-6.1,2.6-12.1a108.8,108.8,0,0,0,1.5-12.1q0-3.2-.2-7a56.2,56.2,0,0,0-1-7.8,36.7,36.7,0,0,0,11.8-5.3,42.9,42.9,0,0,0,6.9-5.3,161.5,161.5,0,0,0-8.3,45.8c-.2,7.2.1,14.7,3.3,21.2a17.3,17.3,0,0,0,6,7.1,10.4,10.4,0,0,0,9,1.3c4.2-1.5,6.4-6,8-10.2a97.6,97.6,0,0,0,5.5-46.3,48.5,48.5,0,0,0,22.5-15.1q-.5,5.4.7,8.5A3.9,3.9,0,0,0,265,410q3.2-.4,8.9-6.4,2-2.3,4.3-5.4t4.7-6.4q2.3-3.4,4.4-6.9l4-6.8q-.6,2.5-1.6,6.8t-1.8,9.7q-.9,5.4-1.3,10.9a65.5,65.5,0,0,0-.1,10.6,26,26,0,0,0,2,8.6,9.3,9.3,0,0,0,5,5,5.3,5.3,0,0,0,3.9.1,13.1,13.1,0,0,0,3.8-2.1,26.2,26.2,0,0,0,3.3-3l2.4-2.9a205.4,205.4,0,0,0,12.1-17.7l4.4-7.4-.7,3q-1.7,7.8-3,15.1a87.1,87.1,0,0,0-1.5,12.7,12.1,12.1,0,0,0,.7,4.1,10.9,10.9,0,0,0,1.7,3.2,3.5,3.5,0,0,0,2.3,1.4,2.3,2.3,0,0,0,2.2-1.2q1.2-2.2,3.2-6t4.1-8.8q2-4.5,4.4-9.6t5-10q2.6-5,5.3-9.5a67.8,67.8,0,0,1,5.5-7.9,33.6,33.6,0,0,1,5.7-5.8q1.9-1.3,2.8-.4t.8,3.5a48.6,48.6,0,0,1-.5,5.7q-.6,3.9-2.2,10.4L355.8,411q-1.9,7.8-3.3,15.9a113.4,113.4,0,0,0-1.8,15.1,42.4,42.4,0,0,0,.9,12q1.2,5,5.1,6.4t6-1.2a32.4,32.4,0,0,0,7-6.6,109.5,109.5,0,0,0,7.5-10.5q3.9-6.1,7.7-12.7t7.3-13.5l6.5-12.8,2.9-5.8c-.3,1.8-.6,3.6-.8,5.5a57.5,57.5,0,0,0-.5,12.4,19.5,19.5,0,0,0,2.7,9q2.3,3.5,7.2,3.3a13.7,13.7,0,0,0,7-3.3,46.3,46.3,0,0,0,5.2-5.6q3.3-4,7.1-9.6t7.8-12.3q4-6.8,7.6-13.6l-2.6,15.2-2.2,11.3q-1.1,5.7-2.3,11.1l-15.5,10.1a122.7,122.7,0,0,0-15.8,12.4A74.1,74.1,0,0,0,394.2,458a34.8,34.8,0,0,0-5.5,17,20.7,20.7,0,0,0,.8,6.8,15.2,15.2,0,0,0,2.9,5.5,13,13,0,0,0,11.6,4.7,24.3,24.3,0,0,0,12.4-4.7,44.7,44.7,0,0,0,10-10.4,77.8,77.8,0,0,0,7.8-14.1,151.1,151.1,0,0,0,5.7-15.7q2.4-7.9,4-15.2t2.7-12.6q11.3-7,22.1-14.7a117.3,117.3,0,0,0,15.6-13.5l-2.7,12.8q-.6,3.4-1.1,7.8a67.8,67.8,0,0,0-.4,8.4,23.4,23.4,0,0,0,.9,6.6q.9,2.6,2.7,2.6t3.2-4.4q2.4-4.4,5.4-10.4l6.3-12.3a96.8,96.8,0,0,1,6.1-10.3,5.5,5.5,0,0,1,2.3-2.1,1.1,1.1,0,0,1,1.3.5,5,5,0,0,1,.5,2.3,20.1,20.1,0,0,1-.1,3q-.5,4.2-1.3,10.9t-1.2,13.1a52.8,52.8,0,0,0,.5,11.1q.8,4.7,3.6,4.8,1.1,0,2.7-2.5a57.1,57.1,0,0,0,3.3-5.7q1.6-3.3,3-6.2l1.8-3.9q3.6-7.5,7.7-15.6t7.7-14.8a22,22,0,0,1,4.4-6q2.1-1.8,3.6-1.6a2.8,2.8,0,0,1,2.2,2.2,10.3,10.3,0,0,1,0,5q-1.1,5.3-2.8,12.7t-3.3,15.5q-1.6,8.1-2.7,16a89,89,0,0,0-.9,14.2,26.1,26.1,0,0,0,1.9,10.2,6,6,0,0,0,6.1,3.7q3.7,0,8.2-4.5a75.6,75.6,0,0,0,9.2-11.5q4.7-7,9.3-15.5t8.8-16.6l5.9-11.7c-.3,3.5-.1,6.3.7,8.3a3.9,3.9,0,0,0,4.4,2.7q3.2-.4,8.9-6.4,2-2.3,4.3-5.4t4.7-6.4q2.3-3.4,4.4-6.9l4-6.8q-.6,2.5-1.6,6.8t-1.8,9.7q-.9,5.4-1.3,10.9a65.6,65.6,0,0,0-.1,10.6,26,26,0,0,0,2,8.6,9.3,9.3,0,0,0,5,5,5.3,5.3,0,0,0,3.9.1,13.2,13.2,0,0,0,3.8-2.1,26.2,26.2,0,0,0,3.3-3l2.4-2.9a205.3,205.3,0,0,0,12.1-17.7q5.4-8.8,10.3-17.8l3.3-1.4q-.8,3-2.5,8.8t-3.3,12.7q-1.6,6.9-2.8,14.1a71.3,71.3,0,0,0-1,13.1,24.5,24.5,0,0,0,1.9,9.7,6.4,6.4,0,0,0,6.3,3.8q2.8,0,6.7-3.6a75.8,75.8,0,0,0,8.2-9.4q4.3-5.7,8.9-12.7t8.7-13.8l7.5-12.7,1-1.7q-.6,4.3-.9,8.9a76,76,0,0,0-.1,12.3,33.6,33.6,0,0,0,2.2,9.9,8.8,8.8,0,0,0,5.4,5.4q2.8,1.1,6.3-1.4a39.5,39.5,0,0,0,7.1-6.8,92.2,92.2,0,0,0,7.1-9.9q3.5-5.5,6.5-10.8l.7-1.3c-.2,1.5-.3,2.9-.3,4.4a25.8,25.8,0,0,0,1.6,10.2,14.9,14.9,0,0,0,5.6,7.1q3.8,2.6,10.2,2.1a24.4,24.4,0,0,0,11.6-4.3,63,63,0,0,0,11.1-9.6,115.6,115.6,0,0,0,9.8-12q4.5-6.4,7.9-11.6A1.9,1.9,0,0,0,791.1,384.4Zm-44.6,2.3a60.5,60.5,0,0,1,3.9-5.1,33.1,33.1,0,0,1,4.5-4.4,17.8,17.8,0,0,1,4.9-2.9,6.2,6.2,0,0,1,3.3-.5,1.4,1.4,0,0,1,1.1,1.3,6.1,6.1,0,0,1-.5,2.5,20.7,20.7,0,0,1-1.3,2.9,19.7,19.7,0,0,1-6.5,7q-4.5,3.1-12.3,4.2A36.5,36.5,0,0,1,746.4,386.8ZM190.1,362.8q3.5-6.9,7.6-13.4,2.7-4,5.5-7.7t5.7-7.3l2.9-3.3,2.9-3.3,1.6-1.4,1.8-1.4,2-1.4c.4-.2.5.4.4,1.8a27.8,27.8,0,0,1-2.5,9.5q-2.2,4.6-4.3,8.7a97.4,97.4,0,0,1-10.6,15.6,89.3,89.3,0,0,1-9.2,9.7,84,84,0,0,1-10.4,8Q186.6,369.7,190.1,362.8Zm-10,23.6,1,.4a8.4,8.4,0,0,1,2.2,1.7l1.8,2.1a40.4,40.4,0,0,1,5.5,13.7,15,15,0,0,1-7.9-1.3q-3.6-1.7-5-6.5a3.8,3.8,0,0,1-.2-1.5l1.2-4.2A36.9,36.9,0,0,1,180.1,386.4Zm11.4,30.9a97.2,97.2,0,0,1-1,10.7,99.8,99.8,0,0,1-4.9,19.4,24.8,24.8,0,0,1-1.7,3.7,19.7,19.7,0,0,1-2.9,4.2,7.1,7.1,0,0,1-3.4,2.2q-1.8.4-3.1-2.1a23.3,23.3,0,0,1-3.1-9.6,69.2,69.2,0,0,1-.4-10.2,172.7,172.7,0,0,1,1.8-18.6,138.8,138.8,0,0,1,3.5-18.2,14.4,14.4,0,0,0,10.2,7.4l2.3.2h2.1A51.4,51.4,0,0,1,191.5,417.3ZM223,395a8.4,8.4,0,0,1,2.2,1.7l1.8,2.1a40.4,40.4,0,0,1,5.5,13.7,15,15,0,0,1-7.9-1.3q-3.6-1.7-5-6.5a3.8,3.8,0,0,1-.2-1.5l1.2-4.2a36.9,36.9,0,0,1,1.6-4.4Zm9-24q3.5-6.9,7.6-13.4,2.7-4,5.5-7.7t5.7-7.3l2.9-3.3,2.9-3.3,1.6-1.4,1.8-1.4,2-1.4c.4-.2.5.4.4,1.8a27.8,27.8,0,0,1-2.5,9.5q-2.2,4.6-4.3,8.7a97.4,97.4,0,0,1-10.6,15.6,89.3,89.3,0,0,1-9.2,9.7,84,84,0,0,1-10.4,8Q228.5,377.9,232,371Zm1.4,54.5a97.2,97.2,0,0,1-1,10.7,99.8,99.8,0,0,1-4.9,19.4,24.8,24.8,0,0,1-1.7,3.7,19.7,19.7,0,0,1-2.9,4.2,7.1,7.1,0,0,1-3.4,2.2q-1.8.4-3.1-2.1a23.3,23.3,0,0,1-3.1-9.6,69.2,69.2,0,0,1-.4-10.2,172.7,172.7,0,0,1,1.8-18.6,138.8,138.8,0,0,1,3.5-18.2,14.4,14.4,0,0,0,10.2,7.4l2.3.2h2.1A51.4,51.4,0,0,1,233.4,425.5Zm50.9-42.2L280,390q-2.2,3.3-4.3,6.1t-4.2,5q-3.1,3.3-4.2,3.1t-.8-2.3a26.6,26.6,0,0,1,1.8-5.8,76.6,76.6,0,0,1,3.4-7.3,58.5,58.5,0,0,1,4.1-6.7,14.5,14.5,0,0,1,4-4.1,10.9,10.9,0,0,1,8.4-1.2Zm148.6,57a115.2,115.2,0,0,1-6.5,17,67.1,67.1,0,0,1-9.6,14.9,27.2,27.2,0,0,1-13.3,8.8q-5,1.5-8.2.1t-3-6.4a30,30,0,0,1,5-15.3,72.8,72.8,0,0,1,11.3-13.5,109.5,109.5,0,0,1,14.4-11.4l14.1-9.2Q435.4,431.7,432.9,440.4Zm177.8-57-4.3,6.7q-2.2,3.3-4.3,6.1t-4.2,5q-3.1,3.3-4.2,3.1t-.8-2.3a26.6,26.6,0,0,1,1.8-5.8,76.6,76.6,0,0,1,3.4-7.3,58.5,58.5,0,0,1,4.1-6.7,14.5,14.5,0,0,1,4-4.1,10.9,10.9,0,0,1,8.4-1.2Zm46.1-5.7a19.6,19.6,0,0,1-3.5,5.8l-2.6.5h-1.5q-.6-.3.2-2.4a29.1,29.1,0,0,1,2-4.3q2-3.3,3.6-3.9t2.1.5T656.8,377.7Z" fill="none"/>
                    </clipPath>
                </defs>
                <title>animationm</title>
                <g id="maurath" fill="#292929">
                    <path id="m_path" d="M503.4,479l-6.1,12.9-6.1,12.9-.2.3-.4.2q-.4,0-.6-.5L477.6,479l-2.2,25.2a.7.7,0,0,1-.8.8h-.9a.7.7,0,0,1-.6-.2,1,1,0,0,1-.2-.6l2.8-31.1a1.5,1.5,0,0,1,.2-.6.6.6,0,0,1,.5-.3.6.6,0,0,1,.6.4l13.4,28h0l.4-1,.5-1,12.6-26.1a.6.6,0,0,1,.6-.4.5.5,0,0,1,.5.3,1.5,1.5,0,0,1,.2.6l2.9,31.2a.7.7,0,0,1-.8.8h-.9a.8.8,0,0,1-.6-.2.9.9,0,0,1-.2-.6Z" transform="translate(1.2 -297.4)" />
                    <path id="a_path" d="M547.6,504.4l-.9-2.1-.9-2.1H526.8l-1.7,4.1a.9.9,0,0,1-.8.7l-1.2-.2q-.4-.2-.4-.5a.8.8,0,0,1,.1-.4l12.6-30,.2-.5.3-.5.3-.4.3-.2a.7.7,0,0,1,.6.5L550,504v.4c0,.2-.2.3-.5.4l-1.1.2A.8.8,0,0,1,547.6,504.4Zm-19.9-6.6h17.2L537.1,479l-.4-.9-.4-.9h0Z" transform="translate(1.2 -297.4)"/>
                    <path id="u_path" d="M567.9,492.2a11.3,11.3,0,0,0,.8,4.3,10.8,10.8,0,0,0,2.2,3.5,10.4,10.4,0,0,0,3.4,2.3,10.7,10.7,0,0,0,4.3.8,10.9,10.9,0,0,0,4.3-.8,10.2,10.2,0,0,0,3.4-2.3,10.6,10.6,0,0,0,2.2-3.5,11.6,11.6,0,0,0,.8-4.3V473.8a.7.7,0,0,1,.2-.6l.6-.2h.7l.6.2a.7.7,0,0,1,.2.6v18.7a13.2,13.2,0,0,1-1.1,5.2,12.6,12.6,0,0,1-7,6.8,13.4,13.4,0,0,1-5.1,1,13,13,0,0,1-3.5-.5,12.7,12.7,0,0,1-3.1-1.3,13.5,13.5,0,0,1-2.6-2,12.6,12.6,0,0,1-2-2.6,13.6,13.6,0,0,1-1.3-3.1,12.6,12.6,0,0,1-.5-3.5V473.8a.8.8,0,0,1,.2-.5l.6-.2h.8l.6.2a.7.7,0,0,1,.2.6Z" transform="translate(1.2 -297.4)" />
                    <path id="r_path" d="M633.3,485.1a12.2,12.2,0,0,1-.4,3,11.9,11.9,0,0,1-1.1,2.8,12.3,12.3,0,0,1-1.7,2.4,10.9,10.9,0,0,1-2.4,1.9l4.1,8.7v.4a.7.7,0,0,1-.2.4l-.5.2H630a.7.7,0,0,1-.6-.5l-3.9-8.2a12.3,12.3,0,0,1-4.6.8h-8.8v7a.7.7,0,0,1-.8.8h-.8a.7.7,0,0,1-.8-.8V473.9a.9.9,0,0,1,.2-.6l.5-.3H621a12.5,12.5,0,0,1,5.1,1,12,12,0,0,1,3.9,2.7,11.8,11.8,0,0,1,2.5,3.9A12.2,12.2,0,0,1,633.3,485.1ZM621,494.7a10.2,10.2,0,0,0,4.2-.8,9.3,9.3,0,0,0,3.1-2.2,9.4,9.4,0,0,0,1.9-3.1,9.8,9.8,0,0,0,0-7.1,9.5,9.5,0,0,0-1.9-3.1,9.4,9.4,0,0,0-3.1-2.2,10.1,10.1,0,0,0-4.2-.8h-8.8v19.2Z" transform="translate(1.2 -297.4)" />
                    <path id="a2_path" d="M674.4,504.4l-.9-2.1-.9-2.1H653.6l-1.7,4.1a.9.9,0,0,1-.8.7l-1.2-.2q-.4-.2-.4-.5a.8.8,0,0,1,.1-.4l12.6-30,.2-.5.3-.5.3-.4.3-.2a.7.7,0,0,1,.6.5l12.9,31v.4c0,.2-.2.3-.5.4l-1.1.2A.8.8,0,0,1,674.4,504.4Zm-19.9-6.6h17.2L663.9,479l-.4-.9-.4-.9h0Z" transform="translate(1.2 -297.4)" />
                    <path id="t2_path" d="M707.9,473l.6.2a.7.7,0,0,1,.2.6v.8a.8.8,0,0,1-.2.6l-.6.2h-9.1v28.8a.7.7,0,0,1-.8.8h-.8a.7.7,0,0,1-.8-.8V475.4h-9.4a.7.7,0,0,1-.8-.8v-.8a.7.7,0,0,1,.8-.8Z" transform="translate(1.2 -297.4)" />
                    <path id="h_path" d="M748.5,473.8a.8.8,0,0,1,.2-.6l.6-.2h.8l.6.2a.7.7,0,0,1,.2.6v30.4q0,.8-.8.8h-.8a.7.7,0,0,1-.8-.8V493.8H727.2v10.4q0,.8-.8.8h-.8a.7.7,0,0,1-.8-.8V473.8a.8.8,0,0,1,.2-.6l.6-.2h.8l.6.2a.7.7,0,0,1,.2.6v17.6h21.2Z" transform="translate(1.2 -297.4)" />
                </g>
                <g id="point2_mask">
                    <g clip-path="url(#clip-path)">
                        <line id="point2_path" x1="706.5" y1="57.1" x2="716.3" y2="67.2" fill="none" stroke="#ef4136" stroke-width="19.84"/>
                    </g>
                </g>
                <g id="point1_mask">
                    <g clip-path="url(#clip-path-2)">
                        <line id="point1_path" x1="143.1" y1="56.1" x2="153.7" y2="66.9" fill="none" stroke="#ef4136" stroke-width="19.84"/>
                    </g>
                </g>
                <g id="t_mask">
                    <g clip-path="url(#clip-path-3)">
                        <path id="t_path" d="M8.7,393.7C18.6,376,36.8,360.9,72.9,354c29.2-5.6,73-11.4,107.1-49" transform="translate(1.2 -297.4)" fill="none" stroke="#ef4136" stroke-width="22.68"/>
                    </g>
                </g>
                <g id="iffany_mask">
                    <g clip-path="url(#clip-path-4)">
                        <path id="iffanymarie_path" d="M111,333.3s-19.6,56.4-25.1,75.3c-5.1,17.4-10,40-4.6,46.8,2.3,2.9,7.9-1.5,10-3.2,6-4.7,19.1-22,19.1-22l1.1-1.5L123,411s21.5-33.6,19.2-41.9-8.2,54.1-.1,58.3c2,1.1,3.4,1.3,6.7-.3,7-3.5,25.2-49.2,28.1-50.6s9.9.3,19.6-8.5c16-14.6,19.2-24.4,24-33.6,2-3.8,3.3-13.1.6-13.2-6.8-.3-17.4,14.6-17.4,14.6l-.4.5s-15.2,19.2-18.9,26c-2.9,5.3-11.4,22-11.4,22s-4.1,19.5-5.1,26.7-1.7,29.7.7,37.8,6.4,12.1,9.5,12c5.7-.2,9.6-12.5,12.4-19.8,1.2-3.2,5.7-28.8,1.5-39.1-1.5-3.7-6.3-17.8-11.3-17-2.9.5-4.6,8.9-4.2,11.8.2,1.3,3.5,6.4,6.1,7.7,5.6,2.9,15.7,1,22.2-4.9,8.4-7.5,17.3-16.5,22.6-17.7a39.7,39.7,0,0,0,14.8-8.8c6-5.7,15.3-21.4,19.2-29.2s4.9-13.7,1.5-14.4c-7-1.5-22.8,22.2-23.5,23.4-3.3,5.7-10.4,16.9-13.1,22.9-3.7,7.9-12.2,19.2-13.8,24.4s-4.2,44.2-3,50.6c.7,3.9,2.5,16.5,10.7,18.4,4.3,1,9.8-6.5,13.8-23.7,2.2-9.2,3.6-26.9.6-35.1-1.8-4.9-5.9-15.1-12.3-17.5-2.9-1.1-4.7,10-3.6,12.7a12,12,0,0,0,8,7.5c3.6.9,8,2.4,19.4-4.1,4.9-2.7,14.3-12.9,14.3-12.9,1.9-1.8,4.6-7.3,4.6-7.3,2.3-5.1,7-12,10.5-15s9.1-3,13.7-2.3l2.1.2s8.4-3.5,8-2.2-9.3,5.4-9.3,5.4c-8.1-1.1-14,3.9-16.4,7.2s-12.6,19.6-9.4,24.9,26.7-29.8,26.7-29.8,6.6-3.6,6.1-2c-2.3,7.3-6.3,31.1-6.8,36.1-.7,8-.1,16.6,6.1,17.6s12.2-14.9,15.6-20.8S335.3,366,335.3,366s-19.2,63.8-12,66.6h0c3.2-3.3,23.1-45.5,29.4-52,9.9-10.3,13.7-4.6,13.4-1.3-.8,8.5-7.3,38.2-9.3,46.7-2.4,10.2-6.6,31.5,1.3,33.2s23.6-31.6,23.6-31.6l33.6-66.2S406.8,396.8,405,408c-.5,3-1.7,9-.7,12.3s3.5,6.3,7.8,4.9c12.5-4,38.5-55,38.5-55S443.2,421.6,438,438c-3,9.5-9.5,29.4-16.7,36.3s-13.9,12-19.7,12-9.5-2.7-10.4-5.5,0-13,1.7-16.9a64.8,64.8,0,0,1,8.7-13.3,137.3,137.3,0,0,1,15.3-14c10.6-7.9,33.6-21.3,44.3-29.1,7.4-5.3,22.1-15.6,26.9-23.3,2.7-4.4,6.2-19.6,6.2-19.6s-13.7,56.4-10.7,60c0,0,19.8-36.7,24.9-38.5s-1.7,42.1,1.6,43.7,24.2-46.3,31.8-52c1.6-1.2,6.7-1.3,7.8,0,5,5.9-1.9,22.8-3.7,30.2-2.5,10-6.6,35-6,41,.3,3,1.3,7.1,3.5,8,4.3,1.7,10.7-5.9,13.1-8.9,10-12.3,23.5-40.6,31.4-54.1,3.1-5.3,8.4-17.4,13.7-20.7,2.9-1.8,13.7-5.4,13.3-2-.1,1.1-9.5,4.2-14.4,8.8s-10.3,14.2-11,19.9c-.2,1.4-.5,6.6.9,7.1,5.5,1.9,17.8-16.2,17.8-16.2l20-29.2s-11.2,34.9-12.7,47c-1.1,9,.1,18.3,5.5,19.3,8.9,1.6,23.3-25.3,23.3-25.3s10.8-15.5,12.8-21.4c.9-2.7,2.8-8.9.6-10s-8.1,5.2-9.7,7.9-1.5,5.6-.2,6.6c3.7,2.8,18.8-6.4,18.8-6.4s-15.1,44.4-14.7,57c.3,7.7,4.3,10,6.4,9,12.7-5.9,33.5-43.7,42.9-59.9,2.1-3.6,6-15.5,6-15.5s-6.4,28.8-7,40c-.2,4.4.6,17.9,5.3,18.4,10.5,1.1,20.5-28.9,26.8-38.3,1.2-1.8,8.9,1.5,18.1-1.1,7.2-2,11.5-4.4,13.3-8.2s2.2-10.5-.7-12.2-13.5,4.8-16,7.9c-5.2,6.7-10.7,20.1-11,28.6-.1,4.2,1.1,11.7,4.2,14.1,5.2,4.2,14,2.3,19.5-.9,10.6-6,30.2-30.2,32-42.3" transform="translate(1.2 -297.4)" fill="none" stroke="#ef4136" stroke-width="22.68"/>
                    </g>
                </g>
            </svg>
        </div>
        <h2 class="heading"><span id="holder"></span><span>|</span></h2>
        <a class="smoothscroll" href="#about">
            <div class="mouse">
                <div class="wheel"></div>
            </div>
        </a>
    </div>

    <a class="smoothscroll" href="#about">
        <div class="scroll-down"></div>
    </a>
</header>

<img id="popup" src="http://res.cloudinary.com/tiffanym/image/upload/e_art:audrey/v1528024825/chiTheCat_t3ylzy.gif"
     alt="cat">

{% include 'about.html.twig' %}

{% include 'skills.html.twig' %}

{% include 'portfolio.html.twig' %}

{% include 'contact.html.twig' %}

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
            <ul class="list-inline center-block">
                <li>
                    <a href="mailto:tiffany.maurath@orange.fr" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://github.com/tiffaanym" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://codepen.io/tiffanym/#" target="_blank"><i class="fab fa-codepen fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/tiffany-maurath-9728aa15b/" target="_blank"><i
                                class="fab fa-linkedin fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>


<script>
    /*----------------------------------------------------*/
    /* Quote Loop
    ------------------------------------------------------ */

    function fade($ele) {
        $ele.fadeIn(1000).delay(3000).fadeOut(1000, function () {
            var $next = $(this).next('.quote');
            fade($next.length > 0 ? $next : $(this).parent().children().first());
        });
    }

    fade($('.quoteLoop > .quote').first());


    /*----------------------------------------------------*/
    /* Typing Animation
    ------------------------------------------------------ */

    setTimeout(function(){
        // typing animation
        (function ($) {
            $.fn.writeText = function (content) {
                var contentArray = content.split(""),
                    current = 0,
                    elem = this;
                setInterval(function () {
                    if (current < contentArray.length) {
                        elem.text(elem.text() + contentArray[current++]);
                    }
                }, 130);
            };

        })(jQuery);

        // input text for typing animation
        $("#holder").writeText("GRAPHIC DESIGNER + WEB DEVELOPER");

     }, 9500);


    /*----------------------------------------------------*/
    /* Navigation
    ------------------------------------------------------ */

    $(window).scroll(function () {

        if ($(window).scrollTop() > 200) {
            $('.main_nav').addClass('sticky');
        } else {
            $('.main_nav').removeClass('sticky');
        }
    });

    // Mobile Navigation
    $('.mobile-toggle').click(function () {
        if ($('.main_nav').hasClass('open-nav')) {
            $('.main_nav').removeClass('open-nav');
        } else {
            $('.main_nav').addClass('open-nav');
        }
    });

    $('.main_nav li a').click(function () {
        if ($('.main_nav').hasClass('open-nav')) {
            $('.navigation').removeClass('open-nav');
            $('.main_nav').removeClass('open-nav');
        }
    });


    /*----------------------------------------------------*/
    /* Smooth Scrolling
    ------------------------------------------------------ */

    jQuery(document).ready(function ($) {

        $('.smoothscroll').on('click', function (e) {
            e.preventDefault();

            var target = this.hash,
                $target = $(target);

            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 800, 'swing', function () {
                window.location.hash = target;
            });
        });

    });


    TweenMax.staggerFrom(".heading", 0.8, {opacity: 0, y: 20, delay: 0.2}, 0.4);

    /*----------------------------------------------------*/
    /* Gradient Button
    ------------------------------------------------------ */

    $(() => {
        var $sendBtn = $('.send-button'),
            $iWrapper = $('.icon-wrapper'),
            $i1 = $('.icon-1'),
            $i2 = $('.icon-2');

        function animationEvent() {
            var t,
                el = document.createElement('fakeelement');

            var animations = {
                animation: 'animationend',
                OAnimation: 'oAnimationEnd',
                MozAnimation: 'animationend',
                WebkitAnimation: 'webkitAnimationEnd'
            };

            for (t in animations) {
                if (el.style[t] !== undefined) {
                    return animations[t];
                }
            }
        }

        $sendBtn.on('click', e => {
            $iWrapper.css('color', '#66bb6a');
            $iWrapper.addClass('icon-wrapper-animation');
            $sendBtn.addClass('clicked');
            $i1.delay(900);
            $i1.fadeTo(300, 0);
            $i2.delay(900);
            $i2.fadeTo(300, 1);
        });

        $sendBtn.on(animationEvent(), e => {
            if (e.originalEvent.animationName == 'input-shadow') {
                $sendBtn.removeClass('clicked');
            }
        });

        $iWrapper.on(animationEvent(), e => {
            if (e.originalEvent.animationName == 'icon-animation') {
                $iWrapper.removeClass('icon-wrapper-animation');
                setTimeout(reset, 1200);
            }
        });

        function reset() {
            $i1.fadeTo(250, 1);
            $i2.fadeTo(250, 0);
            $iWrapper.css('color', '#f8bbd0');
        }
    }); // end of document ready


    /*----------------------------------------------------*/
    /* Portfolio
    ------------------------------------------------------ */

    $('.gallery-item').hover(function () {
        $(this).find('p').stop().animate({
            opacity: '1',
            marginLeft: '220px'
        }, 300);
    }, function () {
        $(this).find('p').stop().animate({
            opacity: '0',
            marginLeft: '0px'
        }, 100);
    });

    /*----------------------------------------------------*/
    /* Chi
    ------------------------------------------------------ */

    if (window.addEventListener) {
        var kkeys = [], konami = "38,38,40,40,37,39,37,39,66,65";
        window.addEventListener("keydown", function (e) {
            kkeys.push(e.keyCode);
            if (kkeys.toString().indexOf(konami) >= 0) {

                $("#popup").fadeToggle("slow");

            }
        }, true);
    }

</script>
</body>
</html>