{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/base.css">{% endblock %}


<section id="portfolio" class="clear bounce-in">
    <div class="container">


        <h1>Portfolio</h1>
        <div class="block"></div>

        <div class="folio-list">
            <div class="row">
                {% for item in items %}
                    <div class="col-xs-12 col-md-4">
                        <div class="thumbnail folio-thumb">
                            <figure class="gallery-item center-block">
                                <img alt="réalisations infographiste" src="{{ item.image }}">
                                <figcaption class="img-title">
                                    <p>{{ item.summary }}</p>
                                </figcaption>
                            </figure>
                            <h3>{{ item.client }}</h3>
                            <p>{{ item.action }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>