 <div class="demi-content porfolio-left"><h1>Portfolio</h1></div>
 <div class="demi-content portolio-right">
     <!--
        <div class="folio-list">
            <div class="row">
                {% for item in items %}
                    <div class="col-xs-12 col-md-4">
                        <div class="thumbnail folio-thumb">
                            <figure class="gallery-item center-block">
                                <img alt="réalisations infographiste" src="{{ item.image }}">
                                <figcaption class="img-title">
                                    <p>{{ item.summary }}</p>
                                </figcaption>
                            </figure>
                            <h3>{{ item.client }}</h3>
                            <p>{{ item.action }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div> -->
 </div>
