<div class="demi-content skills-left"><h1>Compétences</h1></div>

<div class="demi-content skills-right">
    <div class="row skills-right-txt">
        <div class="col-3 progressBar">
            <h4>HTML5/CSS3</h4>
            <div class="progressBarContainer">
                <div class="progressBarValue value-90"></div>
            </div>
        </div>
        <div class="progressBar">
            <h4>Bootstrap / Foundation</h4>
            <div class="progressBarContainer">
                <div class="progressBarValue value-90"></div>
            </div>
        </div>
        <div class="progressBar">
            <h4>PHP7 (Symfony)</h4>
            <div class="progressBarContainer">
                <div class="progressBarValue value-60"></div>
            </div>
        </div>
        <div class="progressBar">
            <h4>JavaScript (jQuery)</h4>
            <div class="progressBarContainer">
                <div class="progressBarValue value-50"></div>
            </div>
        </div>
        <div class="progressBar">
            <h4>WordPress / Drupal</h4>
            <div class="progressBarContainer">
                <div class="progressBarValue value-80"></div>
            </div>
        </div>
        <div class="progressBar">
            <h4>SCRUM</h4>
            <div class="progressBarContainer">
                <div class="progressBarValue value-80"></div>
            </div>
        </div>
        <div class="progressBar">
            <h4>GIT (GitHub)</h4>
            <div class="progressBarContainer">
                <div class="progressBarValue value-70"></div>
            </div>
        </div>
        <div class="progressBar">
            <h4>MySQL</h4>
            <div class="progressBarContainer">
                <div class="progressBarValue value-80"></div>
            </div>
        </div>
        <div class="progressBar">
            <h4>Photoshop</h4>
            <div class="progressBarContainer">
                <div class="progressBarValue value-80"></div>
            </div>
        </div>
        <div class="progressBar">
            <h4>Illustrator</h4>
            <div class="progressBarContainer">
                <div class="progressBarValue value-90"></div>
            </div>
        </div>
        <div class="progressBar">
            <h4>InDesign</h4>
            <div class="progressBarContainer">
                <div class="progressBarValue value-70"></div>
            </div>
        </div>
        <ul>
            <li>Création d’identité visuelle : logo, charte graphique…</li>
            <li>Création de documents de communication print (flyers, affiche, carte de visite…).</li>
            <li>Création de site internet (responsive design).</li>
            <li>Création de newsletter, bannières et éléments de communication pour les réseaux sociaux.</li>
            <li>Environnement de travail : Linux.</li>
        </ul>
    </div>

</div>