/*** ABOUT SECTION ***/

section.about {
  h1 {
    color: white;
  }
  .about-left {
    background-color: $lime;
  }
  .about-right {
    background-color: white;

    p span {
      font-family: 'cocomatregular', sans-serif;
    }
  }
}