/*** CONTACT SECTION ***/

section.contact {
  h1 {
    color: white;
  }
  .contact-left {
    background-color: #9db032;
  }
  .contact-right {
    background-color: white;
  }
}
.form-control {
  border-radius: 0px;
}

.form-control:focus {
  border-color: deeppink;
}

input {
  border: none;
}

.gd {
  height: 34px;
  font-weight: 700;
  background: linear-gradient(-45deg, #84d0d7, #006a66, #1d5135);
  color: #ffffff;
  text-decoration: none;
  position: relative;

}